
<div class="page-header">
    <h1>
        Lotes
    </h1>
</div><!-- /.page-header -->
<div class="row containers">
    <div class="col-sm-12 container">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    Lote 1
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Cantidad de animales</span>
                                <span class="col-sm-5">13</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Potrero</span>
                                <span class="col-sm-5"><a href="#/potreros/1/detalles">Potrero 1</a></span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Fecha de último registro</span>
                                <span class="col-sm-5">01/06/2015</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Ganancia diaria promedio</span>
                                <span class="col-sm-5">0.5 kg/d</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Peso promedio</span>
                                <span class="col-sm-5">350 kg</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Carga del periodo</span>
                                <span class="col-sm-5">1.3 animal/há</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Producción de carne</span>
                                <span class="col-sm-5">1 kg/há</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <in-pie-chart ng-model="vm.piedata" style="display: block; width: 90%; height: 150px"></in-pie-chart>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline">
                                <li><a href="#/lotes/1/detalles">Detalles</a></li>
                                <li><a href="#/lotes/1/performance">Performance</a></li>
                                <li>
                                    <a href="#/lotes/1/balance-sanitario">Balance sanitario</a>
                                </li>
                                <li> <a href="#/lotes/1/animales">Animales</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 container">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    Lote 2
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Cantidad de animales</span>
                                <span class="col-sm-5">6</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Potrero</span>
                                <span class="col-sm-5"><a href="#/potreros/2/detalles">Potrero 2</a></span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Fecha de último registro</span>
                                <span class="col-sm-5">01/06/2015</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Ganancia diaria promedio</span>
                                <span class="col-sm-5">0.5 kg/d</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Peso promedio</span>
                                <span class="col-sm-5">350 kg</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Carga del periodo</span>
                                <span class="col-sm-5">1.3 animal/há</span>
                            </div>
                            <div class="row">
                                <div class="space-4"></div>
                                <span class="col-sm-7">Producción de carne</span>
                                <span class="col-sm-5">1 kg/há</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <in-pie-chart ng-model="vm.piedata" style="display: block; width: 90%; height: 150px"></in-pie-chart>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline">
                                <li><a href="#/lotes/2/detalles">Detalles</a></li>
                                <li><a href="#/lotes/2/performance">Performance</a></li>
                                <li>
                                    <a href="#/lotes/2/balance-sanitario">Balance sanitario</a>
                                </li>
                                <li> <a href="#/lotes/2/animales">Animales</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>